@page "/pha"
@layout NoMenuLayout

<GoBackButton Text='PhA. Approving'/>

@if (photosLoaded)
{
    @if (waitingPhotos.Count == 0)
    {
        <section>
            <h2 class='color-success fs-regular'>All photos approved</h2>
            <p class='fs-small fw-regular color-secondary'>(No waiting photos)</p>
        </section>
    }
    else //There are waiting photos
    {
        <section>
            <h2 class='color-primary fs-regular fw-semi-bold'>Waiting photos</h2>
            @foreach (var waitingPhoto in waitingPhotos)
            {
                @if (photoResolveStates[waitingPhoto] == PhotoResolveState.Unresolved)
                {
                    <div class='color-black fs-regular'>
                        <div class='photo'>
                            <img src='@waitingPhoto.ThumbnailResourceLink' width='256' height='256'/>
                            <p class='fs-regular fw-bold color-black'>Waiting</p>
                        </div>
                        <p class='fs-regular fw-bold'>@waitingPhoto.FoodName</p>
                        <p><span class='fs-small color-secondary'>By</span> @waitingPhoto.PublisherUsername</p>
                        <p><span class='fs-small color-secondary'>At</span> @waitingPhoto.PublishDate.ToString("d")</p>
                        <div>
                            <button class='button bg-danger' @onclick="() => RejectPhoto(waitingPhoto)">Reject</button>
                            <button class='button bg-success' @onclick="() => ApprovePhoto(waitingPhoto)">Approve</button>
                        </div>
                    </div>
                }
                else
                {
                    //Resolved
                    <div class='color-black fs-regular'>
                        <div class='photo'>
                            <img src='@waitingPhoto.ThumbnailResourceLink' width='256' height='256' style='filter: grayscale(60%); opacity: 0.5;'/>
                            @if (photoResolveStates[waitingPhoto] == PhotoResolveState.Approved)
                            {
                                <p class='fs-regular fw-bold color-success'>Approved</p>
                            }
                            else
                            {
                                <p class='fs-regular fw-bold color-danger'>Rejected</p>
                            }
                        </div>

                        <p class='fs-regular fw-bold'>@waitingPhoto.FoodName</p>
                        <p><span class='fs-small color-secondary'>By</span> @waitingPhoto.PublisherUsername</p>
                        <p><span class='fs-small color-secondary'>At</span> @waitingPhoto.PublishDate.ToString("d")</p>
                        <div>
                            <button disabled class='button bg-danger'>Reject</button>
                            <button disabled class='button bg-success'>Approve</button>
                        </div>
                    </div>
                }

                <br/>
            }
        </section>
    }
}
else
{
    <section>
        <h2 class='fs-small'>Loading</h2>
        <Loader DotColor='var(--clr-primary)'/>
    </section>
}