@page "/settings";
@layout NoMenuLayout

<GoBackButton Text='Nastavení'/>

<section>
    <h2>
        <UsernameWithTitles/>
    </h2>
    <div id='user-details' class='mh-100'>
        <div class='fw-regular fs-regular'>
            <div>
                @if (myPhotosLoaded)
                {
                    @if (myPhotos.TotalPhotoCount > 0)
                    {
                        <a class='color-primary' href='/my-photos'>
                            @PhotosTextWithGrammar()
                        </a>
                    }
                    else //0 Photos
                    {
                        <p class='color-secondary'>0 sdílených fotek</p>
                    }
                }
                else
                {
                    <p class='placeholder-glow'>---</p>
                }
            </div>
            <div class='mt-200 @(isMoneyLoaded ? string.Empty : "placeholder-glow")'>
                <div>Stav konta: @balance.ToString("F1")<sup class='fs-tiny fw-semi-bold'>Kč</sup></div>
                <div>Objednáno za: @orderedFor.ToString("F1")<sup class='fs-tiny fw-semi-bold'>Kč</sup></div>
            </div>
        </div>
    </div>
</section>
<br/>
<section>
    <h2 class='fw-semi-bold fs-regular color-secondary'>Super husté věci</h2>
    <div id='super-cool-links' class='mh-100'>
        <Authorized RequiredRoles='new[] {UserRoleDTO.PhotoApprover}'>
            <a class='fs-regular color-primary' href='/pha'>PhA. Photo Approving</a>
        </Authorized>
        <Authorized RequiredRoles='new[] {UserRoleDTO.Admin}'>
            <a class='fs-regular color-primary' href='/similarity-table'>Adm. Similarity table</a>
        </Authorized>
            <a class='fs-regular color-primary' href='/dev'>Dev.</a>
    </div>
</section>
<section class='mt-400'>
    <h2 class='fw-semi-bold fs-regular color-secondary'>Notifikace</h2>
    <div class='notification-toggles mh-100'>
        <div class='toggle-with-label'>
            <label class="fs-regular fw-regular color-secondary">Když mi dochází peníze</label>
            <ToggleSwitch/>
        </div>
        <div class='toggle-with-label mt-300'>
            <label class="fs-regular fw-regular color-secondary">Když mi schválí fotku</label>
            <ToggleSwitch/>
        </div>
        <Authorized RequiredRoles='new[] {UserRoleDTO.PhotoApprover}'>
            <div class='toggle-with-label mt-300'>
                <label class="fs-regular fw-regular color-secondary">Pha. Nová čekající fotka</label>
                <ToggleSwitch/>
            </div>
        </Authorized>
        <Authorized RequiredRoles='new[] {UserRoleDTO.Admin}'>
            <div class='toggle-with-label mt-300'>
                <label class="fs-regular fw-regular color-secondary">Adm. Nový similarity record</label>
                <ToggleSwitch/>
            </div>
        </Authorized>
    </div>
</section>
<section class='mt-400'>
    <h2 class='fw-semi-bold fs-regular color-secondary'>
        Auto Login Extra
        @if (AuthService.IsAutoLoginSetup)
        {
            <span class='capsule bg-success mh-100 fw-regular color-white'>
                Auto Login
                <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7.62595L4.25242 10.7047C4.66844 11.0984 5.33156 11.0984 5.74759 10.7047L16 1" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        }
    </h2>
    @if (!AuthService.IsAutoLoginSetup)
    {
        <div class='mv-200 mh-100'>
            <a href='/setupAutoLogin'>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.49994 10H9.99989M9.99989 10H14.4998M9.99989 10V14.5M9.99989 10V5.5M1 15.4002V4.60023C1 3.3401 1 2.70957 1.24524 2.22828C1.46094 1.8049 1.80489 1.46095 2.22826 1.24524C2.70955 1 3.34007 1 4.60018 1H15.4C16.6601 1 17.2899 1 17.7712 1.24524C18.1945 1.46095 18.5391 1.8049 18.7548 2.22828C19 2.70957 19 3.33963 19 4.59975V15.3998C19 16.6599 19 17.29 18.7548 17.7713C18.5391 18.1946 18.1945 18.5393 17.7712 18.755C17.2904 19 16.6615 19 15.4039 19H4.59648C3.33883 19 2.70908 19 2.22826 18.755C1.80489 18.5393 1.46094 18.1947 1.24524 17.7714C1 17.2901 1 16.6603 1 15.4002Z" stroke="#007FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class='color-primary fw-regular fs-regular'>Aktivovat Auto Login</span>
            </a>
        </div>
    }
    <div class='notification-toggles mh-100' style='@(AuthService.IsAutoLoginSetup ? "" : "filter: opacity(0.45)")'>
        <div class='toggle-with-label mt-300'>
            <label class="fs-regular fw-regular color-secondary">Když nemám objednáno</label>
            <ToggleSwitch Checked='isOrderCheckerEnabled' CheckedChanged='OnOrderCheckerToggle'/>
        </div>
        <div class='toggle-with-label mt-300'>
            <label class="fs-regular fw-regular color-secondary">Auto Login</label>
            <ToggleSwitch Checked='@AuthService.IsAutoLoginSetup' CheckedChanged='RemoveAutoLogin'/>
        </div>
    </div>
</section>
<button id='logout' class='button color-danger fs-regular fw-regular mt-400 bg-white' @onclick="Logout">
    <svg width='19' height='25' viewBox='0 0 19 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <g clip-path='url(#clip0_239_484)'>
            <path d='M2.08725 11.8536H10.4423C10.8018 11.8536 11.0933 12.1431 11.0933 12.5002C11.0933 12.8575 10.8018 13.147 10.4423 13.147H2.08767L4.81626 16.2201C5.05334 16.4866 5.02831 16.8937 4.76019 17.1293C4.49186 17.3651 4.08203 17.3403 3.84473 17.0738L0.162612 12.9268C-0.0577197 12.6794 -0.0519266 12.3106 0.164888 12.0703L3.84494 7.92643C4.08203 7.65971 4.49207 7.63489 4.7604 7.87089C5.02852 8.10649 5.05355 8.51379 4.81646 8.78031L2.08725 11.8536ZM4.34415 4.73043C4.34415 5.08769 4.04975 5.3772 3.68667 5.3772C3.32338 5.3772 3.02899 5.08769 3.02899 4.73043V1.83288C3.02899 1.32934 3.23939 0.870766 3.57681 0.538939C3.91466 0.206907 4.38097 0.000202677 4.89259 0.000202677H17.1362C17.6482 0.000202677 18.1147 0.206501 18.4526 0.538532C18.7898 0.870156 19 1.32812 19 1.83288V23.1671C19 23.6717 18.7904 24.13 18.453 24.4621C18.1156 24.7939 17.6495 25 17.1362 25H4.8928C4.37994 25 3.91403 24.7933 3.57661 24.4617C3.23877 24.1294 3.02919 23.6705 3.02919 23.1671V20.2698C3.02919 19.9127 3.32359 19.6232 3.68688 19.6232C4.04996 19.6232 4.34435 19.9127 4.34435 20.2698V23.1671C4.34435 23.314 4.40663 23.4489 4.50676 23.5474C4.60648 23.6454 4.74343 23.7067 4.89301 23.7067H17.1362C17.2864 23.7067 17.4235 23.6456 17.5231 23.5476C17.623 23.4497 17.6848 23.3148 17.6848 23.1671V1.83288C17.6848 1.68559 17.6226 1.55111 17.5228 1.45304C17.4227 1.35457 17.2856 1.29333 17.1362 1.29333H4.8928C4.74385 1.29333 4.6071 1.35478 4.50696 1.45325C4.40663 1.55172 4.34415 1.6864 4.34415 1.83288V4.73043Z' fill='#BF211E'/>
        </g>
        <defs>
            <clipPath id='clip0_239_484'>
                <rect width='19' height='25' fill='white' transform='matrix(-1 0 0 -1 19 25)'/>
            </clipPath>
        </defs>
    </svg>
    <span class='color-danger'>Odhlásit</span>
</button>