<div class='card @(IsOrdered ? "ordered" : string.Empty)'>
    <div class='card-body'>
        <p class='fs-regular fw-regular'>@Food.Name</p>
        <div class='food-details fs-small color-secondary'>
            <p>@foodPrice Kč</p>
            <p>@(string.IsNullOrEmpty(Food.Allergens) ? "-" : Food.Allergens)</p>
        </div>
        <button @onclick='RaiseOnOrderClickedEvent' class='button bg-primary @(!IsLoaded ? "placeholder placeholder-glow" : string.Empty) @(IsOrdered ? "accent" : string.Empty)'>
            @if (IsOrdered)
            {
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.7 9.9C7.7 9.2895 8.1895 8.8 8.8 8.8C9.09174 8.8 9.37153 8.91589 9.57782 9.12218C9.78411 9.32847 9.9 9.60826 9.9 9.9C9.9 10.1917 9.78411 10.4715 9.57782 10.6778C9.37153 10.8841 9.09174 11 8.8 11C8.50826 11 8.22847 10.8841 8.02218 10.6778C7.81589 10.4715 7.7 10.1917 7.7 9.9ZM0 1.1V0H1.7985L2.3155 1.1H10.45C10.5959 1.1 10.7358 1.15795 10.8389 1.26109C10.9421 1.36424 11 1.50413 11 1.65C11 1.7435 10.9725 1.837 10.934 1.925L8.965 5.4835C8.778 5.819 8.415 6.05 8.0025 6.05H3.905L3.41 6.9465C3.399 6.963 3.3935 6.985 3.3935 7.0125C3.3935 7.04897 3.40799 7.08394 3.43377 7.10973C3.45956 7.13551 3.49453 7.15 3.531 7.15H9.9V8.25H3.3C3.00826 8.25 2.72847 8.13411 2.52218 7.92782C2.31589 7.72153 2.2 7.44174 2.2 7.15C2.2 6.9575 2.2495 6.776 2.332 6.622L3.08 5.2745L1.1 1.1H0ZM2.2 9.9C2.2 9.2895 2.6895 8.8 3.3 8.8C3.59174 8.8 3.87153 8.91589 4.07782 9.12218C4.28411 9.32847 4.4 9.60826 4.4 9.9C4.4 10.1917 4.28411 10.4715 4.07782 10.6778C3.87153 10.8841 3.59174 11 3.3 11C3.00826 11 2.72847 10.8841 2.52218 10.6778C2.31589 10.4715 2.2 10.1917 2.2 9.9ZM8.35355 2.85355L7.64645 2.14645L6 3.79289L5.35355 3.14645L4.64645 3.85355L5.64645 4.85355L6 5.20711L6.35355 4.85355L8.35355 2.85355Z" fill="#636363"/>
                </svg>
            }
            else
            {
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.8 8.8C8.1895 8.8 7.7 9.2895 7.7 9.9C7.7 10.1917 7.81589 10.4715 8.02218 10.6778C8.22847 10.8841 8.50826 11 8.8 11C9.09174 11 9.37153 10.8841 9.57782 10.6778C9.78411 10.4715 9.9 10.1917 9.9 9.9C9.9 9.60826 9.78411 9.32847 9.57782 9.12218C9.37153 8.91589 9.09174 8.8 8.8 8.8ZM0 0V1.1H1.1L3.08 5.2745L2.332 6.622C2.2495 6.776 2.2 6.9575 2.2 7.15C2.2 7.44174 2.31589 7.72153 2.52218 7.92782C2.72847 8.13411 3.00826 8.25 3.3 8.25H9.9V7.15H3.531C3.49453 7.15 3.45956 7.13551 3.43377 7.10973C3.40799 7.08394 3.3935 7.04897 3.3935 7.0125C3.3935 6.985 3.399 6.963 3.41 6.9465L3.905 6.05H8.0025C8.415 6.05 8.778 5.819 8.965 5.4835L10.934 1.925C10.9725 1.837 11 1.7435 11 1.65C11 1.50413 10.9421 1.36424 10.8389 1.26109C10.7358 1.15795 10.5959 1.1 10.45 1.1H2.3155L1.7985 0M3.3 8.8C2.6895 8.8 2.2 9.2895 2.2 9.9C2.2 10.1917 2.31589 10.4715 2.52218 10.6778C2.72847 10.8841 3.00826 11 3.3 11C3.59174 11 3.87153 10.8841 4.07782 10.6778C4.28411 10.4715 4.4 10.1917 4.4 9.9C4.4 9.60826 4.28411 9.32847 4.07782 9.12218C3.87153 8.91589 3.59174 8.8 3.3 8.8Z" fill="white"/>
                </svg>
                <span>Objednat</span>
            }
        </button>
    </div>
    
    @* Index shower functionality is in foodBlockHelpers.js *@
    @* TODO: FIX *@
    <div class='image-slider'>
        <div class='images' @ref="imagesReference">
            @foreach (var photoLink in Food.PhotoLinks)
            {
                <img src='@photoLink.ThumbnailResourceLink'/>
            }
        </div>
        <div class='controls' @ref="imagesControlsReference">
            @for (int i = 0; i < Food.PhotoLinks.Count; i++)
            {
                <div class='index-shower'></div>
            }
        </div>
    </div>
</div>
