<div class='card @(IsOrdered ? "ordered" : string.Empty)'>
    <div class='card-body'>
        <p class='fs-regular fw-regular'>@Food.Name</p>
        <div class='food-details fs-small color-secondary'>
            <p>@foodPrice Kč</p>
            <p>@(string.IsNullOrEmpty(Food.Allergens) ? "-" : Food.Allergens)</p>
        </div>
        <button @onclick='RaiseOnOrderClickedEvent' class='button bg-primary @(!IsLoaded ? "placeholder placeholder-glow" : string.Empty) @(IsOrdered ? "accent" : string.Empty)'>
            @if (IsOrdered)
            {
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.7 9.9C7.7 9.2895 8.1895 8.8 8.8 8.8C9.09174 8.8 9.37153 8.91589 9.57782 9.12218C9.78411 9.32847 9.9 9.60826 9.9 9.9C9.9 10.1917 9.78411 10.4715 9.57782 10.6778C9.37153 10.8841 9.09174 11 8.8 11C8.50826 11 8.22847 10.8841 8.02218 10.6778C7.81589 10.4715 7.7 10.1917 7.7 9.9ZM0 1.1V0H1.7985L2.3155 1.1H10.45C10.5959 1.1 10.7358 1.15795 10.8389 1.26109C10.9421 1.36424 11 1.50413 11 1.65C11 1.7435 10.9725 1.837 10.934 1.925L8.965 5.4835C8.778 5.819 8.415 6.05 8.0025 6.05H3.905L3.41 6.9465C3.399 6.963 3.3935 6.985 3.3935 7.0125C3.3935 7.04897 3.40799 7.08394 3.43377 7.10973C3.45956 7.13551 3.49453 7.15 3.531 7.15H9.9V8.25H3.3C3.00826 8.25 2.72847 8.13411 2.52218 7.92782C2.31589 7.72153 2.2 7.44174 2.2 7.15C2.2 6.9575 2.2495 6.776 2.332 6.622L3.08 5.2745L1.1 1.1H0ZM2.2 9.9C2.2 9.2895 2.6895 8.8 3.3 8.8C3.59174 8.8 3.87153 8.91589 4.07782 9.12218C4.28411 9.32847 4.4 9.60826 4.4 9.9C4.4 10.1917 4.28411 10.4715 4.07782 10.6778C3.87153 10.8841 3.59174 11 3.3 11C3.00826 11 2.72847 10.8841 2.52218 10.6778C2.31589 10.4715 2.2 10.1917 2.2 9.9ZM8.35355 2.85355L7.64645 2.14645L6 3.79289L5.35355 3.14645L4.64645 3.85355L5.64645 4.85355L6 5.20711L6.35355 4.85355L8.35355 2.85355Z" fill="#636363"/>
                </svg>
            }
            else
            {
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.8 8.8C8.1895 8.8 7.7 9.2895 7.7 9.9C7.7 10.1917 7.81589 10.4715 8.02218 10.6778C8.22847 10.8841 8.50826 11 8.8 11C9.09174 11 9.37153 10.8841 9.57782 10.6778C9.78411 10.4715 9.9 10.1917 9.9 9.9C9.9 9.60826 9.78411 9.32847 9.57782 9.12218C9.37153 8.91589 9.09174 8.8 8.8 8.8ZM0 0V1.1H1.1L3.08 5.2745L2.332 6.622C2.2495 6.776 2.2 6.9575 2.2 7.15C2.2 7.44174 2.31589 7.72153 2.52218 7.92782C2.72847 8.13411 3.00826 8.25 3.3 8.25H9.9V7.15H3.531C3.49453 7.15 3.45956 7.13551 3.43377 7.10973C3.40799 7.08394 3.3935 7.04897 3.3935 7.0125C3.3935 6.985 3.399 6.963 3.41 6.9465L3.905 6.05H8.0025C8.415 6.05 8.778 5.819 8.965 5.4835L10.934 1.925C10.9725 1.837 11 1.7435 11 1.65C11 1.50413 10.9421 1.36424 10.8389 1.26109C10.7358 1.15795 10.5959 1.1 10.45 1.1H2.3155L1.7985 0M3.3 8.8C2.6895 8.8 2.2 9.2895 2.2 9.9C2.2 10.1917 2.31589 10.4715 2.52218 10.6778C2.72847 10.8841 3.00826 11 3.3 11C3.59174 11 3.87153 10.8841 4.07782 10.6778C4.28411 10.4715 4.4 10.1917 4.4 9.9C4.4 9.60826 4.28411 9.32847 4.07782 9.12218C3.87153 8.91589 3.59174 8.8 3.3 8.8Z" fill="white"/>
                </svg>
                <span>Objednat</span>
            }
        </button>
    </div>
    
    @* Functionality is in foodBlockHelpers.js *@
    <div class='image-slider'>
        @if (Food.PhotoLinks.Count > 0)
        {
            //There are photos
            <div class='images' @ref="imagesReference">
                @foreach (var photoLink in Food.PhotoLinks)
                {
                    <img class='image' src='@photoLink.ThumbnailResourceLink'/>
                }
            </div>
            <div class='controls' @ref="imagesControlsReference">
                @for (int i = 0; i < Food.PhotoLinks.Count; i++)
                {
                    <div class='index-shower'></div>
                }
            </div>
            <div class='add-photo-capsule' @onclick="() => Handle_AddPhotoClicked(Food)">
                <svg width="16" height="14" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.09091 10C0.79091 10 0.534001 9.902 0.320183 9.706C0.106365 9.51 -0.00036271 9.27467 9.26069e-07 9V3C9.26069e-07 2.725 0.10691 2.4895 0.320728 2.2935C0.534546 2.0975 0.791274 1.99967 1.09091 2H2.80909L3.81818 1H7.09091V2H4.29546L3.3 3H1.09091V9H9.81818V4.5H10.9091V9C10.9091 9.275 10.8022 9.5105 10.5884 9.7065C10.3745 9.9025 10.1178 10.0003 9.81818 10H1.09091ZM9.81818 3V2H8.72727V1H9.81818V0H10.9091V1H12V2H10.9091V3H9.81818ZM5.45455 8.25C6.13636 8.25 6.716 8.03117 7.19345 7.5935C7.67091 7.15583 7.90945 6.62467 7.90909 6C7.90909 5.375 7.67036 4.84367 7.19291 4.406C6.71546 3.96833 6.136 3.74967 5.45455 3.75C4.77273 3.75 4.19309 3.96883 3.71564 4.4065C3.23818 4.84417 2.99964 5.37533 3 6C3 6.625 3.23873 7.15633 3.71618 7.594C4.19364 8.03167 4.77309 8.25033 5.45455 8.25ZM5.45455 7.25C5.07273 7.25 4.75 7.12917 4.48636 6.8875C4.22273 6.64583 4.09091 6.35 4.09091 6C4.09091 5.65 4.22273 5.35417 4.48636 5.1125C4.75 4.87083 5.07273 4.75 5.45455 4.75C5.83636 4.75 6.15909 4.87083 6.42273 5.1125C6.68636 5.35417 6.81818 5.65 6.81818 6C6.81818 6.35 6.68636 6.64583 6.42273 6.8875C6.15909 7.12917 5.83636 7.25 5.45455 7.25Z" fill="white"/>
                </svg>
            </div>
        }
        else //Food.PhotoLinks.Count == 0
        {
            //No photos
            <div class='image-missing' @onclick="() => Handle_AddPhotoClicked(Food)">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.76421 17.7187C1.27905 17.7187 0.86358 17.5451 0.517795 17.1978C0.172011 16.8505 -0.00058657 16.4335 1.49763e-06 15.9469V5.31562C1.49763e-06 4.82836 0.172894 4.41108 0.518678 4.06379C0.864462 3.71651 1.27964 3.54316 1.76421 3.54375H4.54283L6.17472 1.77187H11.4673V3.54375H6.94656L5.33672 5.31562H1.76421V15.9469H15.8778V7.97344H17.642V15.9469C17.642 16.4341 17.4692 16.8514 17.1234 17.1987C16.7776 17.546 16.3624 17.7193 15.8778 17.7187H1.76421ZM15.8778 5.31562V3.54375H14.1136V1.77187H15.8778V0H17.642V1.77187H19.4062V3.54375H17.642V5.31562H15.8778ZM8.82102 14.618C9.92365 14.618 10.861 14.2302 11.6332 13.4547C12.4053 12.6792 12.7911 11.7381 12.7905 10.6312C12.7905 9.52383 12.4044 8.58237 11.6323 7.80688C10.8602 7.03139 9.92306 6.64394 8.82102 6.64453C7.7184 6.64453 6.78101 7.03228 6.00888 7.80777C5.23675 8.58326 4.85098 9.52442 4.85156 10.6312C4.85156 11.7387 5.23763 12.6801 6.00976 13.4556C6.7819 14.2311 7.71898 14.6186 8.82102 14.618ZM8.82102 12.8461C8.20355 12.8461 7.68164 12.632 7.25529 12.2038C6.82894 11.7756 6.61577 11.2514 6.61577 10.6312C6.61577 10.0111 6.82894 9.48691 7.25529 9.05871C7.68164 8.63051 8.20355 8.41641 8.82102 8.41641C9.43849 8.41641 9.96041 8.63051 10.3868 9.05871C10.8131 9.48691 11.0263 10.0111 11.0263 10.6312C11.0263 11.2514 10.8131 11.7756 10.3868 12.2038C9.96041 12.632 9.43849 12.8461 8.82102 12.8461Z" fill="#007FFF"/>
                </svg>
                <p class='fs-tiny color-primary fw-semi-bold'>Přidat foto</p>
            </div>
        }
    </div>
</div>
